.leftbar-container {
    display: flex;
    position: fixed;
    z-index: 1;
    width: 10%;
    height: 100vh;
    padding-top: 15vh;
    color: black;
    background-color: lightgray;
    box-shadow: 0px 2px 10px rgba(151, 151, 151, 0.349);
}

.VideoWallMenu {
    margin: 0px;
    padding: 0px;
}