.content-container {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    width: 90%;
    height: 92vh;
    background-color: black;
    padding: 0px;
    margin: 0px;
    margin-top: 8vh;
    margin-left: 10%;
    color: white;
}

.videoBox4 {
    width: 45%;
    height: 50%;
    border: 1px solid white;
}

.videoBox1 {
    width: 100%;
    height: 100%;
    border: 1px solid white;
}

.videoBox9 {
    width: 33%;
    height: 33%;
    border: 1px solid white;
}